table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
  }

  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    transition: 0.5s;
    background-color: lightblue;
    width: 300px;
  }
  
  td, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    transition: 0.5s;
    width: 300px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  tr:nth-child(odd) {
    background-color: #fafafa;
  }

  tr:hover {
    background-color: lightgrey;
    transition: 0.5s;
  }

  .deleteButton {
    background-color: #ff5252;
    width: 50px;
    height: 25px;
    scale: 1;
    border-radius: 10000000000px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
  }

  .deleteButton:hover {
    background-color: #ff5252;
    width: 50px;
    height: 25px;
    scale: 1;
    border-radius: 10000000000px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    scale: 1.1;
  }

  .errorMessage{
    color: white;
    background-color: #ff5252;
    width: 500px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 1000px;
    opacity: 100%;
    transition: 0.2s;
    vertical-align: middle;
    line-height: 50px;
    font-weight: bold;
  }

  input {
    outline: none;
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 1000px;
    height: 25px;
    -webkit-appearance: none;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 2px 0px;
    transition: 0.3s;
    margin-bottom: 20px;
    text-align: center;
  }

  input:focus {
    outline: none;
    width: 220px;
    border: 2px solid #EEE;
    border-radius: 1000px;;
    -webkit-appearance: none;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 2px 0px;
    transition: 0.3s;
    text-align: center;
  }

  .formDiv {
    margin: auto;
    width: 50%;
    text-align: center;
}

.buttonAdd {
  width: auto;
  width: 220px;
  border: 1px solid green;
  border-radius: 2000px;
  background-color: green;
  color: white;
  height: 40px;
  transition: 0.2s;
  font-weight: bold;
}

.buttonAdd:hover {
  width: auto;
  width: 240px;
  border: 1px solid #00a600;
  border-radius: 2000px;
  background-color: #00a600;
  color: white;
  height: 40px;
  transition: 0.2s;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.formAdd{
  width: 40%;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}

.formEdit{
  width: 50%;
  float: right;
  margin-right: 30px;
  margin-bottom: 30px;
}


.editErrorMessage{
  color: white;
  background-color: #ff5252;
  width: 500px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  border-radius: 1000px;
  opacity: 100%;
  transition: 0.2s;
  vertical-align: middle;
  line-height: 50px;
  font-weight: bold;
}

.editButton {
  margin-left: 5px;
  background-color: #0078FF;
  width: 50px;
  height: 25px;
  scale: 1;
  border-radius: 10000000000px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.editButton:hover {
  background-color: #0078FF;
  width: 50px;
  height: 25px;
  scale: 1;
  border-radius: 10000000000px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  scale: 1.1;
}
